body { 
    background-color: black;
    font-family: monospace; 
}

::selection {
    background: rgba(255,255,255,0.7);
}

P {
    font-size: 2em;
    margin-top: 50px;
    color: SpringGreen;
    text-align: center;
}

#poetry {
    text-decoration: underline;
}