body { 
    background-color: lightyellow;
    font-family: monospace; 
    color: darkblue;
}

::selection {
    background-color: lightcyan;
}

h2 {
    font-size: 2em;
    margin-top: 50px;
    text-align: center;
}

.poetry {
    font-size: 1.5em;
    font-style: italic;
    margin-left: 7%;
    margin-top: 0;
}

a, .una { 
    margin: 0;
    display: block;
    width: calc(100%-20px); 
    padding: 10px; 
    text-decoration: none;
    color: darkblue;
}

li {
    background-color: lightyellow;
    position: relative;
    left: 0;
    font-size: 2em;
    margin-top: 50px;
    list-style: none;
    margin: 5px 0;
    border: 2px solid darkblue;
    transition: left 0.8s ease-out 0.1s;
}

li:hover {
    position: relative;
    left: -50%;
}

li:hover:before {
    content: '<-';
    position: absolute;
    right: -35px;
}

ul {
    margin: 0;
}

nav {
    margin-right: 50px;
    margin-top: 50px;
    width: 15%;
    display: block;
    float: right;
}

div {
    display: flex;
    justify-content: space-around;
}

main {
    width: 100%;
    display: block;
}

@media screen and (max-width: 1000px) {
    div {
        flex-direction: column;
    }
    .poetry {
        display: block;
        margin: 0 auto;
    }
    nav { width: auto; }
    hr { display: none; }
}