:root {
    --bg-color: azure;
    --color0: grey;
    --color1: black;
    --color2: red;
    --color3: blue;
    --color4: green;
    --color5: orange;
}

/* all style */
body {
    background-color: var(--bg-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header */
h1 {
    text-align: center;
    border-bottom: 1px solid gray;
}
body > div {
    text-align: center;
}
input {
    background-color: var(--bg-color);
    border: none;
    border-bottom: 1px solid grey;
    margin: 0 10px;
}
button {
    background-color: lightgreen;
    border-radius: 3px;
    padding: 5px;
}
button:hover {
    cursor: pointer;
    background-color: rgb(108, 196, 108);
}

/* main table */
table#main { 
    width: max-content;
    border-spacing: 40px;
    border-collapse: separate;
    border: 1px solid black;
}
td {
    width: max-content;
    padding: 0 10px;
}
#classical {
    text-align: left;
}
body p {
    margin-left: 20px;
}

/* classical */
.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin: 1px;
}
.tableau {
    width: max-content;
    padding: 10px 15px;
}
.pair {
    display: flex;
}
.pair p {
    margin: 0 0 5px 0;
    text-align: center;
}


/* local rules */
#local-rules {
    width: max-content;
    margin-left: 20px;
}
table#local-rules td {
    border: 3px solid gray;
    width: 30px;
    height: 30px;
    padding: 0;
    text-align: center;
}
table#local-rules .no-border {
    border: none;
}

/* geometrical */
canvas {
    margin: 10px;
    margin-left: 20px;
}